
td.title label[for="_to"],
td.title label[for="_cc"],
td.title label[for="_bcc"] {
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 2px 4px;
    border-radius: 3px;
}

td.title label[for="_to"]:hover,
td.title label[for="_cc"]:hover,
td.title label[for="_bcc"]:hover {
    background-color: #ffffff;
}

.lkk_addressbook .search,
#lkk_groups,
.lkk_addressbook .done,
.lkk_addressbook .close {
    display: block;
    float: left;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #aaa;
    font-size: 12px;
    line-height: 12px;
    padding: 5px 8px 3px 8px;
    min-height: 28px;
    min-width: 60px;
    margin: 0 0 0 4px;
}

#lkk_groups {
    background-color: #f4f4f4;
}
#lkk_groups:hover {
    background-color: #eeeeee;
}
.lkk_addressbook .done {
    background-color: #eefff1;
}
.lkk_addressbook .done:hover {
    background-color: #e4fce9;
}
.lkk_addressbook .close {
    text-align: left;
    background: transparent;
    border: transparent;
    min-width: 30px;
}
.lkk_addressbook .close:hover {
    font-weight: bold;
}
.lkk_addressbook .search {
    min-width: 180px;
}

.lkk_addressbook {
    display: block;
    box-sizing: border-box;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    width: 96vw;
    height: 96vh;
    top: 2vh;
    left: 2vw;
    background-color: #fff;
    border: 2px solid #888;
    border-radius: 6px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.lkk_addressbook .addrs_wrap {
    overflow-y: auto;
    position: absolute;
    top: 4em;
    right: 10px;
    bottom: 14px;
    left: 10px;
    border-top: 1px dotted #e6e6e6;
    border-bottom: 1px dotted #e6e6e6;
}

.lkk_addressbook table {
    border-collapse: collapse;
}

.lkk_addressbook td.contact_name {
    color: #000;
    padding-left: 8px;
}

.lkk_addressbook th {
    text-align: left;
    font-weight: normal;
}

.lkk_addressbook th, .lkk_addressbook td {
    color: #555;
    border-bottom: 1px solid #cccccc;
    padding: 4px;
}

.lkk_addressbook .email {
    color: #000;
    padding-left: 10px;
    padding-right: 6px;
}

.lkk_addressbook tr:nth-child(even) {
    background: #f7f7f7;
}
.lkk_addressbook tr:nth-child(odd) {
    background: #ffffff;
}
.lkk_addressbook tr:hover {
    background: #fafab3;
}
